name: Linting

run-name: Linting api-gateway by @${{ github.actor }}

on:
    pull_request:
        branches:
            - 'main'
            - 'development'
            - 'testing'

jobs:
    commit_lint:
        runs-on: ubuntu-latest
        container:
            image: marvinofransisco/moufube-lint:latest
            credentials:
                username: ${{ secrets.DOCKER_HUB_USERNAME }}
                password: ${{ secrets.DOCKER_HUB_PASSWORD }}
        defaults:
            run:
                working-directory: /app
        steps:
            - uses: actions/checkout@v6

            - name: Fetch base branch
              run: git fetch origin ${{ github.base_ref }}

            - name: Commit message lint
              run: |
                set -e

                echo "Checking commit messages..."
                invalid=0

                while read -r msg; do
                    echo "→ $msg"
                    if ! echo "$msg" | grep -Eq '^(feat|fix|chore|docs|refactor|test|perf) (\([a-z0-9_-]+\))?: .+'; then
                        echo "❌ Invalid commit message: $msg"
                        invalid=1
                    fi
                    done < <(git log origin/${{ github.base_ref }}..HEAD --pretty=%s)

                    if [ "$invalid" -eq 1 ]; then
                    echo "Commit message lint failed"
                    exit 1
                    fi

                    echo "✅ All commit messages are valid"

    lint_code:
        runs-on: ubuntu-latest
        container:
            image: marvinofransisco/moufube-lint:latest 
            credentials:
                username: ${{ secrets.DOCKER_HUB_USERNAME }}
                password: ${{ secrets.DOCKER_HUB_PASSWORD }}
        defaults:
            run:
                working-directory: /app
        steps:
            - uses: actions/checkout@v6

            - name: Download go modules
              working-directory: ./services/api-gateway
              run: go mod download
           
            - name: lint
              working-directory: ./services/api-gateway
              run: GOFLAGS="-buildvcs=false" golangci-lint-v2 run 