name: Linting

run-name: Linting api-gateway by @${{ github.actor }}

on:
    pull_request:
        branches:
            - 'main'
            - 'development'
            - 'testing'

jobs:
    lint_code:
        runs-on: ubuntu-latest
        container:
            image: marvinofransisco/moufube-lint:latest 
            credentials:
                username: ${{ secrets.DOCKER_HUB_USERNAME }}
                password: ${{ secrets.DOCKER_HUB_PASSWORD }}
            volumes:
                - ${{ github.workspace }}:/app
        defaults:
                run:
                    working-directory: /app
        steps:
            - uses: actions/checkout@v6

            - name: check directory tree
              run: ls -la

            - name: Download go modules
              run: go mod download
            