name: Linting

run-name: Linting api-gateway by @${{ github.actor }}

on:
    pull_request:
        branches:
            - 'main'
            - 'development'
            - 'testing'

jobs:
    lint_code:
        runs-on: ubuntu-latest
        container:
            image: marvinofransisco/moufube-lint:latest 
            credentials:
                username: ${{ secrets.DOCKER_HUB_USERNAME }}
                password: ${{ secrets.DOCKER_HUB_PASSWORD }}
        defaults:
            run:
                working-directory: /app
        steps:
            - uses: actions/checkout@v6

            - name: check directory tree
              working-directory: ./services/api-gateway
              run: ls -la

            - name: Download go modules
              working-directory: ./services/api-gateway
              run: go mod download
           
            - name: lint
              working-directory: ./services/api-gateway
              run: golangci-lint-v2 run --buildvcs=false 